extends layout

block content
  .widget.background
    .boardroom-status.js-container
      h2.boardroom-status__title Boardroom is
      h3.boardroom-status__subtitle.js-free available
      h3.boardroom-status__subtitle.js-busy in use
      span.boardroom-status__status.js-free-mins

  script(src='//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js')
  script(src=versionPath('/javascripts/moment.min.js'))
  script(src=versionPath('/javascripts/index.js'))
